@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

html {
    font-size: 16px;
}

body {
    font-style: normal;
    font-family: "DM Sans", serif;
    color: black;
    background: #DFDBFD;
}

h1 {
    font-size: 2rem;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1rem;
}
.wrapper-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: greenyellow;
    font-family: sans-serif;
    font-weight: 10;
    font-size: 12px;
}

.box-a{
    background: lightyellow ;
    width: 100%;
}

.box-b{
    background: lightblue;
    width: 100%;
}

.box-c{
    background: lightgrey;
    width: 100%;
}

.image {
        display: block;
        width: 100%;
        height: 50%;
        object-fit: cover;
}

.wrapper-halfbox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: lightpink;
    font-family: sans-serif;
    font-weight: 10;
    font-size: 12px;
}


@media screen and (min-width: 1px){
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #ffffff;
        box-shadow: 0 2px 5px black;
    }
    
    .navbar .logo {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .nav-links {
        display: none;
    }
    .wrapper-box{
        justify-content: flex-start;
        gap: 10px;
    }
    
    .box-b{
       display: none;
    }
    
    .box-header_logo {
         width: 100%;
    }

   .box-header_empty {
        display: none;
    }
  
    .box-header_links {
        display: none;
    }
}


@media screen and (min-width: 480px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #ffffff;
        box-shadow: 0 2px 5px black;
    }
    
    .navbar .logo {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .nav-links {
        display: none;
    }
    .wrapper-box{
        justify-content: flex-start;
        gap: 10px;
    }
    
    .box-a{
       display: none;
    }
    
    .box-b{
       display: none;
    }

    .box-header_logo {
         width: 100%;
    }

   .box-header_empty {
        display: none;
    }
  
    .box-header_links {
        display: none;
    }

    .box-2{
        display: none
    }
    .box-3{
        display: none;
    }
    .box-4{
        display: block;
        background: green;
        width: 100%;
        height: 30%;
    }

}

@media screen and (min-width: 768px){
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: space-between;
        padding: 1rem 2rem;
        background-color: #ffffff;
        box-shadow: 0 2px 5px black;
    }
    
    .navbar .logo {
        font-weight: bold;
        font-size: 1.5rem;
    }
    
    .nav-links {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
    }
    .wrapper-box{
        flex-direction: row;
    }
    
    .wrapper-halfbox {
      width: 80%;
    }
    
 .box-a{
    background: lightyellow ;
    width: 100%;
    height: 50%;
    display: block;
}

.box-b{
    background: lightblue;
    width: 100%;
    height: 50%;
    display: block;
}

.box-header_logo {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 20px;
}

.box-header_empty {
  display: flex;
  width: 20%;
}
  
.box-header_links {
  display: flex;
  width: 40%;
  align-items: center;
}

}